<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DuoLegal | Legal AI Advice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/aichat.css">
        <link rel="stylesheet" href="../static/all.css">
        <link rel="shortcut icon" type="image/png" href="../static/graphics/logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!--NAVBAR-->
        <div class="navbar">
            <a class="logo" href="/">DuoLegal</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/claims">Claims</a></li>
                <li><a href="/aichat">Legal AI</a></li>
            </ul>
            <ul class="nav-account">
                {% if userName %}
                <li><a href="/account" class="nav-profile">{{ userName }}</a></li>
                {% endif %}
                <li><a href="/logout" class="nav-logout">Logout</a></li>
            </ul>
        </div>

        <div class="aichat-div">
            <form method="POST" action="/aichat">
                <h1>Disclaimer:</h1>
                <h2>We cannot guarantee that this AI gives completely solid advice</h2>
                <hr>
                <p>Please enter your question</p>
                {% if response %}
                <p>{{ response }}</p>
                {% endif %}
                <label for="prompt">Question <span class="required">*</span></label><br>
                <textarea class="msg-box input-msg" id="prompt" name="prompt" placeholder="Is it legal to sell a car without saying it does not work?" required></textarea>
                <p class="required-text"><span class="required">*</span> indicates a required field</p>
                <input type="submit" class="submit-button" value="Get Answer">
            </form>
        </div>
    </body>
</html>