<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DuoLegal | Claims</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/claims.css">
        <link rel="stylesheet" href="../static/all.css">
        <link rel="shortcut icon" type="image/png" href="../static/graphics/logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!--NAVBAR-->
        <div class="navbar">
            <a class="logo" href="/">DuoLegal</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/claims">Claims</a></li>
                <li><a href="/aichat">Legal AI</a></li>
            </ul>
            <ul class="nav-account">
                {% if userName %}
                <li><a href="/account" class="nav-profile">{{ userName }}</a></li>
                {% endif %}
                <li><a href="/logout" class="nav-logout">Logout</a></li>
            </ul>
        </div>

        <div class="claims-div">
            <h1 style="text-align: center">User Claims Processing</h1>
            <form method="POST" action="/claims">
                <label for="concern">Post Concern <span class="required">*</span></label><br>
                <textarea class="msg-box input-msg" id="concern" name="concern" placeholder="Enter concern..."
                          required></textarea><br>
                <button class="submit-button" type="submit">Submit Concern</button>
            </form><br>
            <ul>
                {% for message in messages %}
                <li class="message-item">
                    <p class="concern-header" onclick="toggleAccordion({{ loop.index }})">
                        {{ message.data }}
                    </p>
                    <!-- Display comments for each message in an accordion-style section -->
                    <div id="accordion-section-{{ loop.index }}" class="accordion-content" style="display: none;">
                        <ul>
                            {% if message.comments %}
                            <strong>Comments:</strong>
                            {% for comment in message.comments %}
                            <li><strong>{{ comment.name }}:</strong> {{ comment.comment }}</li>
                            {% endfor %}
                            {% else %}
                            <li><strong>No comments! Be the first to comment on this post!</strong></li>
                            {% endif %}

                        </ul>
                        <!-- Comment form for each message -->
                        <form method="POST" action="/add_comment">
                            <input type="hidden" name="message_data" value="{{ message.data }}"><br>
                            <textarea class="msg-box input-msg" name="comment" placeholder="Add comment" required></textarea><br><br>
                            <button class="post-button" type="submit">Post Comment</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!--FOOTER-->
        <div class="footer">
            <ul class="nav-footer">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/claims">Claims</a></li>
                <li><a href="/aichat">Legal AI</a></li>
            </ul>
            <p id="year-footer">Copyright © 2024 DuoLegal. All Rights Reserved</p>
        </div>

        <script src="../static/script.js"></script>
    </body>
</html>