<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DuoLegal | Find a Lawyer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/aichat.css">
        <link rel="stylesheet" href="../static/all.css">
        <link rel="shortcut icon" type="image/png" href="../static/graphics/logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!--NAVBAR-->
        <div class="navbar">
            <a class="logo" href="/">DuoLegal</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/claims">Claims</a></li>
                <li><a href="/aichat">Legal AI</a></li>
            </ul>
            <ul class="nav-account">
                {% if userName %}
                <li><a href="/account" class="nav-profile">{{ userName }}</a></li>
                {% endif %}
                <li><a href="/logout" class="nav-logout">Logout</a></li>
            </ul>
        </div>

        <div class="aichat-div">
            <form method="POST" action="/findalawyer">
                <h1>Disclaimer:</h1>
                <h2>Please make sure to check their credentials through the appropiate government websites</h2>
                <hr>

                {% if response %}
                <p>{{ response }}</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>