/*
    CSS file for styles used in index (main) page and home page (account logged in view)
*/

.banner-area {
    position: relative;
    width: 100%;
    top: -20px;
    height: 63vh;
}

.banner-img {
    width: 100%;
}

.banner-text {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 55%;
    left: 35%;
}

.about-area, .services-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 500px;
}

.text-part {
    width: 65%;
    height: 80%;
}

.text-part h1 {
    font-size: 50px;
}

.text-part p {
    font-size: 24px;
    line-height: 50px;
    padding-left: 30px;
}

.about-area {
    background: #f4f0ea;
}

.services-area {
    background-color: #262626;
    color: #fff;
}

.contact-area {
    background: #f4f0ea;
}