/*
    CSS for password reset page
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: #f4f0ea;
}

.reset-div {
    top: 75px;
    position: relative;
    margin: 50px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    padding: 50px;
    padding-top: 30px;
    background-color: white;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.input {
    height: 39px;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    font-size: 15px;
    max-width: 560px;
    width: 54vw;
    background-color: #f4f4f4;
}

.input-msg:hover {
    border: none;
}

.input:focus,
.msg-box:focus {
    outline: none;
}

.input::placeholder,
.msg-box::placeholder {
    color: #bfbfbf;
}

.submit-button {
    background-color: transparent;
    color: black;
    border: 2px solid #a10000;
    height: 50px;
    max-width: 580px;
    width: 54vw;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: all .4s ease;
    border-radius: 50px;
}

.submit-button:hover {
    color: white;
    cursor: pointer;
    background-color: #a10000;
}
